html, body {
    margin: 0;
    padding: 0;
    height: 100%;

}

.navbar-container {
    display: flex;
    background-color: #000000;
    padding: 1rem; /* Adjust as needed */
}

.navbar-logo {
    width: 80px; /* Adjust the image size */
    height: 65px; /* Adjust the image size */
}

.navbar-title {
    width: 100px; /* Adjust the image size */
    height: 50px; /* Adjust the image size */
}

.nav {
    margin-left: auto; /* Pushes the nav items to the right */
    display: flex; /* Ensure flex layout for horizontal alignment */
    align-items: center; /* Vertically center nav items */
}
.nav-item:last-child {
    margin-right: 4rem; /* Adjust right margin for the last item */
}

.nav-item {
    margin: 0 0.5rem; /* Space between nav items */
}

.nav-link-custom {
    color: white; 
}

.nav-link-custom.active {
    color: white; 
}


/* Optionally, you can add hover effects */
.nav-link-custom:hover {
    color: #f8f9fa; /* Lighter white or different color on hover */
}

.video-background-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    max-height: 800px;
    overflow: hidden; /* Hide overflow to ensure no scrollbars */
}

.video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the container */
    transform: translate(-50%, -50%); /* Centers the video */
    z-index: -1; /* Places the video behind the content */
}

.video-content {
    position: absolute; /* Position content absolutely within the container */
    bottom: 6rem; /* Space from the bottom */
    left: 5rem; /* Space from the right */
    z-index: 1; /* Ensure content is above the video */
    color: #000000; /* Text color for readability */
    text-align: left; /* Align text to the right */
    padding: 1.8rem; /* Adds padding around the content */
    background: rgba(255, 255, 255, 0.774); /* Optional: Adds a semi-transparent background */
    max-width: 700px; /* Optional: Restrict the width of the content box */
}

.thick-line {
    border-top: 5px solid black; /* Adjust thickness and color here */
    margin: 20px 0; /* Optional: Adds space above and below the line */
}

.thin-line {
    border-top: 2px solid black; /* Adjust thickness and color here */
    margin: 10px 0; /* Optional: Adds space above and below the line */
}